.login-img {
  width: 14rem;
  height: auto;
  margin-left: 3rem;
  margin-right: 3rem;
}

.login-card {
  width: 20rem;
}

body {
  background-color: #dddddd;
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

@media (min-height: 500px) {
  .footer {
    position: fixed;
  }
}
